/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

body{
    display: inline-block;
}

.container{
    width: 210px;
    height: 320px;
    display: inline-block;
    background-color: grey;
}

.content{
    width: 210px;
    height: 320px;
    display: inline-block;
    padding: 10px;
}

#picture0{
    margin-top:15px;
    width:181px;
    height:43px;
    background-position: bottom;
}
#picture1{
    width:181px;
    height:50px;
    background-position: bottom;
}
#picture2{
    width:181px;
    height:50px;
    background-position: bottom;
}
#picture3{
    width:181px;
    height:50px;
    background-position: bottom;
}
#picture4{
    width:181px;
    height:60px;
    background-position: bottom;
}

